<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AAO_adminstrationspanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    </head>
<body>
        <div class="container-fluid">
            <div class="row">

                <div class="col-2 box-shadow vh-100">
                    <img src="~/image/axlogo.png" class="img_logo d-flex justify-content-center" />
                    <div class="logo_text">Alex Andersen</div>
                    <nav class="nav flex-column">

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-2 ">
                                    <div class="img-icon"><img src="~/image/icon/alleture.png" class="img-icon" /></div>
                                </div>
                                <div class="col-8">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AlleTure">Alle ture</a>
                                </div>
                                <div class="col-2">
                                    <div class="arrow"><img src="~/image/icon/arrow.svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="img-icon"><img src="~/image/icon/tildelteture.png" class="img-icon" /></div>
                                </div>
                                <div class="col-8">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TildelteTure">Tildelte ture</a>
                                </div>
                                <div class="col-2">
                                    <div class="arrow"><img src="~/image/icon/arrow.svg" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="img-icon"><img src="~/image/icon/afloseroversigt.png" class="img-icon" /></div>
                                </div>
                                <div class="col-8">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AfloserOversigt">Afløser oversigt</a>
                                </div>
                                <div class="col-2">
                                    <div class="arrow"><img src="~/image/icon/arrow.svg" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row align-items-center active">
                                <div class="col-2">
                                    <div class="img-icon"><img src="~/image/icon/opret.png" class="img-icon" /></div>
                                </div>
                                <div class="col-10">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="OpretTur">Opret Tur</a>
                                </div>

                            </div>
                        </div>
                        <div class="container">
                            <div class="row minimere align-items-center">
                                <div class="col-2">
                                    <div class="img-icon"><img src="~/image/icon/minimere.png" class="img-icon" /></div>
                                </div>
                                <div class="col-8">
                                    <a class="nav-link">Minimer menu</a>
                                </div>
                                @*<div class="col-2">
                            <div class="arrow"><img src="~/image/icon/arrow-left.svg" class="img-arrow" /></div>
                        </div>*@
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-10 pl-5">
                    <div class="top-bar">
                        <partial name="_LoginPartial" />
                    </div>
                    <main role="main" class="main">
                        @RenderBody()
                    </main>
                </div>

            </div>
        </div>


        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="nav-left">-->
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AAO_adminstrationspanel</a>*@
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="p-3 text-dark box-shadow full-height">
                        <ul class="navbar-nav d-flex flex-column">
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OpretTur">Opret tur</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AlleTure">Alle ture</a>
                            </div>
                            <div class="col-2">
                                <div class="arrow"><img src="~/image/icon/arrow.svg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <div class="img-icon"><img src="~/image/icon/tildelteture.png" class="img-icon" /></div>
                            </div>
                            <div class="col-8">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TildelteTure">Tildelte ture</a>
                            </div>
                            <div class="col-2">
                                <div class="arrow"><img src="~/image/icon/arrow.svg" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <div class="img-icon"><img src="~/image/icon/afloseroversigt.png" class="img-icon" /></div>
                            </div>
                            <div class="col-8">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AfloserOversigt">Afløser oversigt</a>
                            </div>
                            <div class="col-2">
                                <div class="arrow"><img src="~/image/icon/arrow.svg" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center active">
                            <div class="col-2">
                                <div class="img-icon"><img src="~/image/icon/opret.png" class="img-icon" /></div>
                            </div>
                            <div class="col-10">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="OpretTur">Opret Tur</a>
                            </div>

                        </div>
                    </div>
                    <div class="container">
                        <div class="row minimere align-items-center">
                            <div class="col-2">
                                <div class="img-icon"><img src="~/image/icon/minimere.png" class="img-icon" /></div>
                            </div>
                            <div class="col-8">
                                <a class="nav-link">Minimere menu</a>
                            </div>
                            <div class="col-2">
                                <div class="arrow"><img src="~/image/icon/arrow-left.svg" class="img-arrow" /></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-10 pl-5">
                <main role="main" class="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>


    <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="nav-left">-->
    @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AAO_adminstrationspanel</a>*@
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="p-3 text-dark box-shadow full-height">
            <ul class="navbar-nav d-flex flex-column">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OpretTur">Opret tur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AlleTure">Alle ture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TildelteTure">Tildelte ture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AfloserOversigt">Afløser oversigt</a>
                </li>
            </ul>
        </div>
    </div>-->
    @*</nav>*@


    @*<div class="container-fluid">
            <div class="row">
                <div class="col-6 bg-info">
                    <main role="main" class="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>*@





    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - AAO_adminstrationspanel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>