@using Microsoft.AspNetCore.Identity
@using AAO_adminstrationspanel.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="login flex">
            <div class="nav-item setting">
                <a id="manage" class="nav-link white-text " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </div>
            <div class="nav-item log-in-out">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link white-text">Log ud</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="login flex">
            <div class="nav-item setting">
                <a class="nav-link white-text" id="register" asp-area="Identity" asp-page="/Account/Register">Opret bruger</a>
            </div>
            <div class="nav-item log-in-out">
                <a class="nav-link white-text" id="login" asp-area="Identity" asp-page="/Account/Login">Log ind</a>
            </div>
        </div>
    }
</div>
