@{
    ViewData["Title"] = "Afløser Oversigt";
}
<h1>@ViewData["Title"]</h1>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Odense</a></li>
        <li><a href="#">Nationalt</a></li>
        <li><a href="#">Ledigt</a></li>
    </ul>
</div>
<div class="dropdownKolonne">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Navn</a></li>
        <li><a href="#">Tlf Nr</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Kørekort information</a></li>
    </ul>
</div>
<table>
    <tr>
        <th>Navn</th>
        <th>Tlf Nr</th>
        <th>Email</th>
        <th>Kørekort information</th>
    </tr>
    <tr>
        <td onclick="openTable()">
            <table id="tableToOpen" display="none">
                <tr>
                    <th>Startdato</th>
                    <th>Slutdato</th>
                    <th>Starttid</th>
                    <th>Ledige og optagede perioder</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <button>Tildel tur</button>
            <button>Opret perioder</button>
            <button>Godkend ændringer</button>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<button>Opret ny tur</button>
