@model List<AAO_adminstrationspanel.ViewModels.TripUserDriverQualificationLicenseVM>
@{
    ViewData["Title"] = "Afløser Oversigt";
}
<h1>@ViewData["Title"]</h1>
@if (Model.Count() > 0)
{
    <p>Fugtig frugt</p>
}
else
{
    <p>Frugtig fugt</p>
}
<div class="dropdownNavigation">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Filter
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Odense</a></li>
            <li><a href="#">Nationalt</a></li>
            <li><a href="#">Ledigt</a></li>
        </ul>
    </div>
    <div class="dropdownKolonne">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Vis/skjul kolonner
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Navn</a></li>
            <li><a href="#">Tlf Nr</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Kørekort information</a></li>
        </ul>
    </div>
</div>
<hr />
<table class="replacementOverview">
    <tr class="tableHeading">
        <th class="columnHeading">Navn</th>
        <th class="columnHeading">Tlf Nr</th>
        <th class="columnHeading">Email</th>
        <th class="columnHeading">Kørekort information</th>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>
    <tr class="expandRow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <svg class="expandArrow expandMore" onclick="tableOpenClose();" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg>
        </td>
    </tr>
    <tr class="tableToOpen">
        <td colspan="5" style="padding:25px">
            <div>
                <table class="driverInformationTable">
                    <th class="columnHeading headingLeft">Chauffør information</th>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="checkboxTd"><input type="checkbox"></td>
                    </tr>
                </table>
                <p class="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonTripNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Fjern chauffør</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                </div>
            </div>
        </td>
    </tr>

</table>

<div class="pageNavigation">
    <div class="pageNumberNavigation">
        <p>Side:</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" /></svg>
        <p class="pageNumber activePageNumber">1</p>
        <p class="pageNumber">2</p>
        <p class="pageNumber">3</p>
        <p class="pageNumber">5</p>
        <p class="pageNumber">...</p>
        <p class="pageNumber">10</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" /></svg>
    </div>
    <form class="pageView">
        <label>Vis:</label>
        <select>
            <option value="5">5 rækker</option>
            <option value="10" selected>10 rækker</option>
            <option value="15">15 rækker</option>
            <option value="20">20 rækker</option>
            <option value="25">25 rækker</option>
            <option value="30">30 rækker</option>
        </select>
    </form>
</div>