@{
    ViewData["Title"] = "Afløser Oversigt";
}
<h1>@ViewData["Title"]</h1>
<div class="buttonNavigation">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Filter
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Odense</a></li>
            <li><a href="#">Nationalt</a></li>
            <li><a href="#">Ledigt</a></li>
        </ul>
    </div>
    <div class="dropdownKolonne">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Vis/skjul kolonner
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Navn</a></li>
            <li><a href="#">Tlf Nr</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Kørekort information</a></li>
        </ul>
    </div>
</div>
<table>
    <tr>
        <th class="columnHeading">Navn</th>
        <th class="columnHeading">Tlf Nr</th>
        <th class="columnHeading">Email</th>
        <th class="columnHeading">Kørekort information</th>
    </tr>
    <tr>
        <td onclick="openTableColunm()"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="tableToOpen" style="display:none">
        <td colspan="100%" style="padding:25px">
            <div>
                <table>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="buttonNavigation">
                    <button class="greenButton">Godkend chauffør</button>
                    <button class="redButton">Slet tur</button>
                    <button class="greyButton">Rediger tur</button>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<button>Opret ny tur</button>
