@{
    ViewData["Title"] = "Afløser Oversigt";
}
<h1>@ViewData["Title"]</h1>
<div class="buttonNavigation">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Filter
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Odense</a></li>
            <li><a href="#">Nationalt</a></li>
            <li><a href="#">Ledigt</a></li>
        </ul>
    </div>
    <div class="dropdownKolonne">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Vis/skjul kolonner
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Navn</a></li>
            <li><a href="#">Tlf Nr</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Kørekort information</a></li>
        </ul>
    </div>
</div>
<table>
    <tr>
        <th class="columnHeading">Navn</th>
        <th class="columnHeading">Tlf Nr</th>
        <th class="columnHeading">Email</th>
        <th class="columnHeading">Kørekort information</th>
    </tr>
    <tr>
        <td onclick="openTableColunm()"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="tableToOpen" style="display:none">
        <td colspan="4" style="padding:50px">
            <div>
                <table>
                    <tr>
                        <th class="columnHeading">Startdato</th>
                        <th class="columnHeading">Slutdato</th>
                        <th class="columnHeading">Starttid</th>
                        <th class="columnHeading">Ledige og optagede perioder</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <p id="moreInformation">Mere information om chaufføren:</p>
                <div class="buttonNavigation">
                    <div class="buttonNavigationTrip">
                        <button class="greenButton">Tildel tur</button>
                        <button class="greyButton">Opret perioder</button>
                    </div>
                    <button class="greyButton">Godkend ændringer</button>
                    <svg class="expandArrow" onclick="closeTableColumn()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z" /></svg>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>