@model AAO_adminstrationspanel.Models.Trip
@{
    ViewData["Title"] = "Opret Tur";
}

<div class="wrapper">

    <h1>Opret Tur</h1>

    <form asp-action="OpretTur" method="POST">

        <div class="flex">

            <div class="collumn1">

                <div class="input">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" id="StartDate">
                </div>

                <div class="input">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" id="EndDate">
                </div>

                <div class="input">
                    <label for="StartTime">Starttid</label>
                    <input type="time" name="StartTime" id="StartTime">
                </div>

                <div class="flex collumn3">

                    <div class="input">
                        <label asp-for="TravelTime"></label>
                        <input asp-for="TravelTime" id="Duration">
                    </div>

                    <div class="input">
                        <select id="DaysOrHours">
                            <option>Timer</option>
                            <option>Dage</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="collumn2">

                <div class="flex">

                    <div class="collumn4">

                        <div class="flex">

                            <div class="input">
                                <label asp-for="StartCountryId"></label>
                                <select id="TrafficFrom">
                                    <option>DK</option>
                                    <option>SE</option>
                                    <option>DE</option>
                                </select>
                            </div>

                            <div class="input">
                                <label asp-for="EndCountryId"></label>
                                <select id="TrafficTo">
                                    <option>DK</option>
                                    <option>SE</option>
                                    <option>DE</option>
                                </select>
                            </div>

                        </div>

                        <div class="input">
                            <label for="StartPoint">Startsted</label>
                            <select id="StartPoint">
                                <option>Odense</option>
                                <option>Aarhus</option>
                            </select>
                        </div>

                    </div>

                    <div class="collumn4">

                        <div class="input">
                            <label asp-for="ContactId"></label>
                            <input type="text" name="Contact" id="Contact">
                        </div>

                        <div class="input">
                            <label asp-for="DepartmentId"></label>
                            <select id="Department">
                                <option>Odense</option>
                                <option>Aarhus</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="input">
                    <label asp-for="Description"></label>
                    <input type="text" name="Description" id="Description">
                </div>

            </div>

        </div>

        <div class="flex float-right">

            <div>
                <label asp-for="Priority"></label>
                <input asp-for="Priority" id="Urgent">
            </div>

            <button class="submit-button" type="submit">Opret tur</button>
        
        </div>

    </form>

</div>