@{
    ViewData["Title"] = "Opret Tur";
}

<h1>Opret Tur</h1>

<div>
    <div>
        <label for="StartDate">Startdato</label>
        <input type="date" name="StartDate">

        <label for="EndDate">Slutdato</label>
        <input type="date" name="EndDate">

        <label for="StartTime">Starttid</label>
        <input type="time" name="StartTime">

        <label for="Department">Afdeling</label>
        <input type="text" name="Department">
    </div>
    <div>
        <div>
            <div>
                <label for="PickUp">Pick-up</label>
                <input type="text" name="PickUp">

                <label for="DropOff">Drop-off</label>
                <input type="text" name="DropOff">
            </div>
            <div>
                <label for="Empty">EMPTY</label>
                <input type="text" name="Empty">

                <div>
                    <label for="Duration">Varighed</label>
                    <input type="number" name="Duration">
                    <input type="text" name="DaysOrHours">
                </div>
            </div>
        </div>
    </div>
</div>