@{
    ViewData["Title"] = "Tildelte Ture";
}
<h1>@ViewData["Title"]</h1>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Odense</a></li>
        <li><a href="#">Nationalt</a></li>
        <li><a href="#">Ledigt</a></li>
    </ul>
</div>
<div class="dropdownKolonne">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Startdato</a></li>
        <li><a href="#">Slutdato</a></li>
        <li><a href="#">Starttid</a></li>
        <li><a href="#">Varighed</a></li>
        <li><a href="#">Trafik</a></li>
        <li><a href="#">Afdeling</a></li>
        <li><a href="#">Navn</a></li>
    </ul>
</div>
<table>
    <tr>
        <th>Startdato</th>
        <th>Slutdato</th>
        <th>Starttid</th>
        <th>Varighed</th>
        <th>Trafik</th>
        <th>Afdeling</th>
        <th>Status</th>
    </tr>
    <tr>
        <td onclick="openTableColunm()">
            <div id="TableToOpen" display="none">
                <p>Info om tur</p>
                <button>Fjern chauffør</button>
                <button>Slet tur</button>
                <button>Rediger tur</button>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<button>Opret ny tur</button>
