/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills, .nav-pills .show {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    list-style: none;
}

.nav-link {
    padding: .5rem 0.5rem;
}

ul, li {
    list-style-type: none;
    height: auto;
    width: 100%;
}


.minimere {
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
}

.active {
    background-color: #00904A;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
}

/* Nav styles
-------------------------------------------------- */
.nav-bottom {
    bottom: 0;
}


.center-text {
    margin: 2% 10%;
}

.nav-item {
    display: flex;
    justify-content: left;
    align-items: center;
}

  nav-item a {
        text-align: left;
    }

.nav-item-minimere {
    position: absolute;
    background-color: pink;
    width: 95%;
    bottom: 0;
}

.logo_text {
    justify-content: center;
    display: flex;
    margin: 0px 0px 20px 0px;
}

/* Image styles
-------------------------------------------------- */
.img_logo {
    width: 40%;
    margin: 10px auto;
}

.img-icon {
    width: 20px;
    height: 20px;
}

.img-icon-active {
    padding-right: 10%;
    display: flex;
    justify-content: center;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.3);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*  margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}




/* tables styles
-------------------------------------------------- */

:root {
    --aao-green: #1b8416;
    --aao-green-trans: rgb(27,132,22, 0.15);
}

/* BUTTONs */
.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background: none;
    border: none;
    color: black;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: none;
    border: none;
    color: black;
}

.dropdown-menu a {
    color: black;
    margin: 0 0 20px 10px;
}

.greenButton, .redButton, .greyButton {
    border: none;
    border-radius: 10px;
    color: white;
    height: 50px;
    margin: 25px 0;
    padding: 0 25px;
    text-align: center;
}

.greenButton {
    background: var(--aao-green);
}

.redButton {
    background: red;
}

.greyButton {
    background: grey;
}

#newTrip:active {
    border: none;
}

.expandArrow{
    bottom: 18%;
    cursor: pointer;
    right: 10px;
}

.expandMore {}

.expandLess .expandArrow {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

/* TEXT */
h1 {
    margin-top: 50px;
}

/* HR */
hr {
    border: 1px solid var(--aao-green);
    margin: 5px 0 10px 0;
    width: 75vw;
}

.dropdownNavigation {
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.dropdownNavigation button:first-child{
    margin-right: 25px;
}

/* TABLE */
table {
    width: 95%;
}

.tableHeading {
    border: none;
}

table tr {
    border: 1px solid var(--aao-green);
    height: 50px;
    width: 300px;
}

.allTrips > tbody > tr:nth-child(2n+4) {
    background-color: #F2F2F2;
}

.columnHeading {
    border: 0;
    font-weight: bold;
    text-align: center;
}

.headingLeft {
    text-align: left;
}

.headingRight {
    text-align: right;
}

/* TABLE - TableInTable*/
.tableToOpen {
    align-items: center;
    background-color: white;
    display: none;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
}

.tableToOpen.tableToOpenExpanded {
    background: var(--aao-green-trans);
    display: table-row;
}

.tableToOpen table{
    width: 100%;
}

.tableToOpenContainer {
    display: flex;
    justify-content: space-between;
}

.buttonOptions {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0 0;
}

.buttonOptions > p {
    align-items: center;
    display: flex;
    height: 50px;
}

.buttonTripNavigation{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.buttonNavigationTrip {
    display: flex;
    justify-content: space-between;
    width: 47.5%;
}

.tableToOpenContainer > table > tbody {
    background-color: white;
}

.tableToOpenContainer > table > tbody > tr:first-child{
    background-color: var(--aao-green-trans);
}

.tableToOpenContainer > table > tbody > tr:nth-child(2n+2) {
    background-color: #F2F2F2;
}

.checkboxTd > input{
    margin: 0;
    position: relative;
}

.tripInformation > tbody > tr:first-child {
    border: none;
}

.driverInformationTable > tbody > tr:first-child {
    border: none;
}

.moreInformation {
    margin: 25px 0 0 0;
}

.pageNavigation {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
/*    position: fixed;*/
    width: 75vw;
}

.pageNumberNavigation, .pageView {
    align-items: center;
    display: flex;
    width: auto;
}

.pageNavigation p, .pageNavigation label{
    margin: 0 10px 0 0;
}

.pageNumberNavigation > svg {
    fill: var(--aao-green);
    border: 1px solid var(--aao-green);
    border-radius: 10%;
    margin-right: 10px;
}

.pageNumber {
    align-items: baseline;
    display: flex;
    height: 24px;
    padding: 0 5px;
}

.activePageNumber {
    background: var(--aao-green);
    border-radius: 10%;
    color: white;
}

.pageView > label{
    width: auto;
}

.pageView > select {
    border: 1px solid var(--aao-green);
    border-radius: 5px;
    height: 24px;
    margin: 0;
    padding: 0 5px;
}

.pageView > select:focus {
    outline: none;
}


/* CSS for "Opret Tur" */
.wrapper {
    width: 100%;
    display: block;
}

.collumn1 {
    width: 33.333%;
}

.collumn2 {
    width: 66.666%;
}

.collumn3 {
    width: 100%;
}

.flex {
    display: flex;
}


.input{

    display: block;
    float: left;
    width: 100%;
}


label, input, select {

    display: block;
    width: 80%;
}


input, select {

    height: 35px;
    padding: 5px;
    margin-bottom: 20px;
}


.width50 {
    width: 50%;
}

#Duration {
    width: 60%;
    float: left;
}


#DaysOrHours {
    width: 20%;
}

#Description {
    width: 90%;
    height: 123px;
}

