/* BUTTON */

.buttonNavigation{
    display: flex;
    justify-content: space-between;
}

 .buttonNavigation button, .buttonNavigation button:hover, .buttonNavigation button:focus{
    background: none;
    border: none;
    color: black;
 }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: none;
    border: none;
    color: black;
}

.dropdown-menu a{
    color: black;
    margin: 0 0 20px 10px;
}

button {
    margin: 25px 0;
}

/* TABLE */

table{
    background: red;
    height: 50vh;
    width: 100%;
}

table tr{
    background: red;
    height: 50px;
    width: 300px;
}

.columnHeading{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}
